Q.1 Explain with an example each
        when to use for loop
        when to use while loop

For loop
For findig the sum of whole numbers up to n:

In [1]:
n=int(input("Ente a number"))
sum=0
for i in range(n):
    sum+=i
print(sum)

561

In [ ]:
While Loop
for winding the fiboneachi numbers up to number n

In [6]:
n=int(input("Enter a number"))
l=1
h=1
l1=[1,1]
while(h+l<n):
    t=h+l
    l=h
    h=t
    l1.append(h)
print(l1)

[1, 1, 2, 3, 5, 8, 13]

Q-2 Sum and product of first 10 Natural using for and while loop

In [9]:
#sum of number using for
sum=0
for i in range(10+1):
    sum+=i
print(sum)

55

In [10]:
#sum of number using while
n=1
sum=1
while(n<10):
    n+=1
    sum+=n
print(sum)

55

Product of numbers usign for loop

In [1]:
res=1
for i in range(1,11):
    res*=i
print(res)

3628800

In [3]:
#Product of numbers using while loop
res=1
n=1
while(n<10):
    n+=1
    res*=n
print(res)

3628800

# Q-3

In [8]:
n=int(input("Eneter the amount of electricity consumed"))
if n<=100:
    print(n*4.5)
elif n<=200:
    res=100*4.5
    print(res+(n-100)*6)
elif n<=300:
    res=100*6+100*4.5
    print(res+(n-200)*10)
else:
    res=100*6+100*4.5+100*10
    print(res+(n-300)*20)

2250.0

# Q-4

In [9]:
l=list(range(1,101))

In [11]:
type(l)

list

In [12]:
#for loop
for i in range(1,101):
    if (i**3)%4==0 or (i**3)%5==0:
        l.append(i**3)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [14]:
#while loop
l=list(range(1,101))
i=1
while(i<101):
    if (i**3)%4==0 or (i**3)%5==0:
        l.append(i**3)
    i+=1
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

# Q-5

In [20]:
string="I want to become a data scientist"
s1=""
str="aeiou"
for i in string:
    if i in str:
        s1=s1+i
print(s1)
print(len(s1))

aoeoeaaaiei
11